In [1]:
import pandas as pd
import sqlite3
from rubin_scheduler.data import get_baseline

In [2]:
# or replace with any local file you want to use
baseline_db = get_baseline()

In [3]:
conn = sqlite3.connect(baseline_db)

In [4]:
df = pd.read_sql('select * from observations;', conn)

In [5]:
# Make any changes you want to the dataframe
df

,observationId,fieldRA,fieldDec,observationStartMJD,flush_by_mjd,visitExposureTime,filter,rotSkyPos,rotSkyPos_desired,numExposures,...,sunAz,sunRA,sunDec,moonRA,moonDec,moonDistance,solarElong,moonPhase,cummTelAz,scripted_id
0,0,200.782211,-50.116498,60796.001439,60796.043692,30.0,r,127.004974,0.000000,2,...,273.458529,38.109263,14.977460,83.711592,29.111182,128.922821,142.152585,24.587030,132.523735,0
1,1,205.280457,-48.985871,60796.001888,60796.043692,30.0,r,131.267782,0.000000,2,...,273.381061,38.109692,14.977597,83.717834,29.110405,131.850718,144.402975,24.589723,130.557655,0
2,2,208.768832,-50.721324,60796.002335,60796.043692,30.0,r,132.267923,0.000000,2,...,273.303864,38.110119,14.977733,83.724055,29.109628,133.962615,143.468442,24.592408,132.814350,0
3,3,212.491654,-52.367602,60796.002782,60796.043692,30.0,r,133.668624,0.000000,2,...,273.226586,38.110546,14.977868,83.730285,29.108850,135.992889,142.343662,24.595097,134.937940,0
4,4,209.531249,-47.656241,60796.003233,60796.043692,30.0,r,135.334500,0.000000,2,...,273.148744,38.110975,14.978005,83.736562,29.108066,134.729210,146.556968,24.597806,128.702991,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130903,2130903,6.379785,-42.696388,64448.427310,0.000000,30.0,r,67.903425,67.903425,2,...,79.825806,37.983739,14.936402,320.651286,-13.005311,49.270601,64.530827,45.257302,-65.501617,0
2130904,2130904,3.571719,-50.679785,64448.427781,0.000000,30.0,r,59.240994,59.240994,2,...,79.746337,37.984189,14.936546,320.654903,-13.004111,51.227412,72.199937,45.255489,-55.343669,0
2130905,2130905,3.195843,-44.284218,64448.428240,0.000000,30.0,r,64.388866,64.388866,2,...,79.669057,37.984627,14.936685,320.658418,-13.002944,47.850758,67.163902,45.253726,-63.818492,0
2130906,2130906,359.313647,-39.478526,64448.428692,0.000000,30.0,r,66.297620,66.297620,2,...,79.593087,37.985058,14.936823,320.661871,-13.001794,43.081880,65.267229,45.251995,-70.670264,0
2130907,2130907,359.015105,-36.358062,64448.429138,0.000000,30.0,r,68.984658,68.984658,2,...,79.517919,37.985484,14.936959,320.665285,-13.000655,41.518333,63.117823,45.250282,-74.972516,0

In [6]:
conn.close()

In [7]:
# open up a connection to a new database
conn = sqlite3.connect('my_new_database.db')

In [8]:
df.to_sql('observations', conn, index=False, if_exists='replace')

2130908

In [9]:
conn.close()