In [1]:
import pandas as pd
import sqlite3
from rubin_sim.data import get_baseline

In [2]:
# or replace with any local file you want to use
baseline_db = get_baseline()

In [3]:
conn = sqlite3.connect(baseline_db)

In [4]:
df = pd.read_sql('select * from observations;', conn)

In [5]:
# Make any changes you want to the dataframe
df

,observationId,fieldRA,fieldDec,observationStartMJD,flush_by_mjd,visitExposureTime,filter,rotSkyPos,numExposures,airmass,...,moonAz,sunAz,sunRA,sunDec,moonRA,moonDec,moonDistance,solarElong,moonPhase,cummTelAz
0,0,310.024480,-60.812928,60218.001806,60218.023576,30.0,y,62.750775,2,1.172534,...,78.824163,255.593220,3.257553,-0.050105,27.609463,11.956111,94.490314,102.958651,87.407902,169.454444
1,1,310.601871,-63.561425,60218.002254,60218.023576,30.0,y,61.084250,2,1.207046,...,78.744948,255.500445,3.257560,-0.050108,27.615338,11.959438,95.029204,101.743959,87.404494,170.502875
2,2,311.292611,-66.317774,60218.002703,60218.023576,30.0,y,60.726189,2,1.248190,...,78.665665,255.407493,3.257567,-0.050111,27.621208,11.962765,95.563446,100.497860,87.401088,171.406738
3,3,312.140731,-69.082666,60218.003152,60218.023576,30.0,y,60.656781,2,1.295605,...,78.586315,255.314364,3.257574,-0.050115,27.627073,11.966093,96.092842,99.221261,87.397685,172.197791
4,4,304.170163,-73.375442,60218.003624,60218.023576,30.0,y,49.095537,2,1.371481,...,78.502749,255.216183,3.257582,-0.050118,27.633237,11.969596,99.605374,94.821142,87.394108,177.239803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086975,2086975,338.528926,-55.399555,63870.104267,63870.135780,30.0,y,334.771589,2,1.105397,...,259.819978,226.970400,3.250349,-0.047002,256.910244,-17.679842,70.801365,117.615117,39.323617,-120.359102
2086976,2086976,347.380828,-54.922128,63870.104758,63870.135780,30.0,y,352.208194,2,1.112273,...,259.743158,226.774631,3.250357,-0.047006,256.916126,-17.679412,75.871877,120.318717,39.326444,-131.999093
2086977,2086977,350.974688,-52.986827,63870.105219,63870.135780,30.0,y,0.553699,2,1.104716,...,259.671193,226.590591,3.250364,-0.047009,256.921640,-17.679010,78.348928,122.861886,39.329094,-138.401088
2086978,2086978,356.062503,-53.778759,63870.105677,63870.135780,30.0,y,8.448490,2,1.127202,...,259.599480,226.406575,3.250371,-0.047012,256.927139,-17.678608,81.048225,122.892555,39.331738,-143.001407
2086979,2086979,352.585400,-55.879554,63870.106138,63870.135780,30.0,y,359.915616,2,1.132728,...,259.527331,226.220805,3.250378,-0.047015,256.932676,-17.678204,78.535855,120.370310,39.334400,-136.891941

In [6]:
conn.close()

In [7]:
# open up a connection to a new database
conn = sqlite3.connect('my_new_database.db')

In [8]:
df.to_sql('observations', conn, index=False, if_exists='replace')

In [9]:
conn.close()